* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #24251d;
}

.logoImage {
  width: 90px;
  height: 55px;
  object-fit: contain;
  border-radius: 0;
}
